@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
    min-width: 350px;
  }

  .responsive-content {
    padding: 0 !important;
  }
}
